*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Roboto";
}

section{
    background-color: black;
    color: white;
}

.faicon{
    background-color: #2FBBEA;
}

.card_body {
    background-color: #2FBBEA;
}

#enviar {
    background-color: #2FBBEA;
}

footer {
    background-color: #2FBBEA;
    height: 90px;
}

/* hace que la transicion del navbar de trasnparaten a negro sea paulatino y viceversa */
.bg-dark {
    transition: all 0.5s ease-in-out;
}